<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<bean id="car" class="com.studytrails.tutorials.springinjectionproperties.Car">
		<property name="chassisNumber" value="ABCDE12345" />
		<property name="name" value="Mercedes" />

		<property name="specifications">
			<props>
				<prop key="cylinders">4</prop>
				<prop key="bodyType">Sedan</prop>
				<prop key="maxTorque">465Nm @ 5250 rpm</prop>
				<prop key="weight">1500 Kg</prop>
			</props>
		</property>
	</bean>

</beans>