<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<bean id="telephoneDirectory"
		class="com.studytrails.tutorials.springinjectionmap.TelephoneDirectory">
		<property name="directoryMap">
			<map>
				<entry key="Alba" value="123456789" />
				<entry key="Bach" value="567890123" />
				<entry key="Cindy" value="789012345" />
			</map>
		</property>
	</bean>

</beans>